$icomoon-font-path: "fonts" !default;

$codeicon-android: "\e900";
$codeicon-angularjs: "\e901";
$codeicon-apache: "\e902";
$codeicon-atom: "\e903";
$codeicon-bitbucket: "\e904";
$codeicon-bootstrap: "\e905";
$codeicon-bower: "\e906";
$codeicon-bower-line: "\e907";
$codeicon-chrome: "\e908";
$codeicon-cnormal: "\e909";
$codeicon-cnormal-line: "\e90a";
$codeicon-codeigniter: "\e90b";
$codeicon-codepen: "\e90c";
$codeicon-codrops: "\e90d";
$codeicon-coffeescript: "\e90e";
$codeicon-composer: "\e90f";
$codeicon-cplusplus: "\e910";
$codeicon-cplusplus-line: "\e911";
$codeicon-creativecommons: "\e912";
$codeicon-css3: "\e913";
$codeicon-debian: "\e914";
$codeicon-docker: "\e915";
$codeicon-doctrine: "\e916";
$codeicon-doctrine-line: "\e917";
$codeicon-dropbox: "\e918";
$codeicon-firefox: "\e919";
$codeicon-git: "\e91a";
$codeicon-github: "\e91b";
$codeicon-gitlab: "\e91c";
$codeicon-grunt: "\e91d";
$codeicon-grunt-line: "\e91e";
$codeicon-gulp: "\e91f";
$codeicon-html5: "\e920";
$codeicon-illustrator: "\e921";
$codeicon-in2com: "\e922";
$codeicon-indesign: "\e923";
$codeicon-ionic: "\e924";
$codeicon-java: "\e925";
$codeicon-javascript: "\e926";
$codeicon-jquery: "\e927";
$codeicon-laravel: "\e928";
$codeicon-less: "\e929";
$codeicon-mysql: "\e92a";
$codeicon-nodejs: "\e92b";
$codeicon-npm: "\e92c";
$codeicon-photoshop: "\e92d";
$codeicon-php: "\e92e";
$codeicon-phpstorm: "\e92f";
$codeicon-premierepro: "\e930";
$codeicon-rails: "\e931";
$codeicon-react: "\e932";
$codeicon-redhat: "\e933";
$codeicon-ruby: "\e934";
$codeicon-sass: "\e935";
$codeicon-slimphp: "\e936";
$codeicon-sourcetree: "\e937";
$codeicon-ssh: "\e938";
$codeicon-sublime: "\e939";
$codeicon-symfony: "\e93a";
$codeicon-terminal: "\e93b";
$codeicon-trello: "\e93c";
$codeicon-ubuntu: "\e93d";
$codeicon-vim: "\e93e";
$codeicon-w3c: "\e93f";
$codeicon-wordpress: "\e940";
$codeicon-zend: "\e941";

