@font-face {
  font-family: 'codeicons';
  src:  url('fonts/codeicons.eot');
  src:  url('fonts/codeicons.eot#iefix') format('embedded-opentype'),
    url('fonts/codeicons.ttf') format('truetype'),
    url('fonts/codeicons.woff') format('woff'),
    url('fonts/codeicons.svg#codeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="codeicon-"], [class*=" codeicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codeicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.codeicon-amazonwebservices:before {
  content: "\e900";
}
.codeicon-android:before {
  content: "\e901";
}
.codeicon-angularjs:before {
  content: "\e902";
}
.codeicon-apache:before {
  content: "\e903";
}
.codeicon-apple:before {
  content: "\e904";
}
.codeicon-atom:before {
  content: "\e905";
}
.codeicon-babel:before {
  content: "\e906";
}
.codeicon-backbonejs:before {
  content: "\e907";
}
.codeicon-bitbucket:before {
  content: "\e908";
}
.codeicon-bootstrap:before {
  content: "\e909";
}
.codeicon-bower:before {
  content: "\e90a";
}
.codeicon-bower-line:before {
  content: "\e90b";
}
.codeicon-chrome:before {
  content: "\e90c";
}
.codeicon-cnormal:before {
  content: "\e90d";
}
.codeicon-cnormal-line:before {
  content: "\e90e";
}
.codeicon-codeigniter:before {
  content: "\e90f";
}
.codeicon-codepen:before {
  content: "\e910";
}
.codeicon-codrops:before {
  content: "\e911";
}
.codeicon-coffeescript:before {
  content: "\e912";
}
.codeicon-composer:before {
  content: "\e913";
}
.codeicon-confluence:before {
  content: "\e914";
}
.codeicon-cplusplus:before {
  content: "\e915";
}
.codeicon-cplusplus-line:before {
  content: "\e916";
}
.codeicon-creativecommons:before {
  content: "\e917";
}
.codeicon-css3:before {
  content: "\e918";
}
.codeicon-csstricks:before {
  content: "\e919";
}
.codeicon-cucumber:before {
  content: "\e91a";
}
.codeicon-debian:before {
  content: "\e91b";
}
.codeicon-django:before {
  content: "\e91c";
}
.codeicon-docker:before {
  content: "\e91d";
}
.codeicon-doctrine:before {
  content: "\e91e";
}
.codeicon-doctrine-line:before {
  content: "\e91f";
}
.codeicon-dotnet:before {
  content: "\e920";
}
.codeicon-dropbox:before {
  content: "\e921";
}
.codeicon-drupal:before {
  content: "\e922";
}
.codeicon-filezilla:before {
  content: "\e923";
}
.codeicon-firefox:before {
  content: "\e924";
}
.codeicon-foundation:before {
  content: "\e925";
}
.codeicon-gimp:before {
  content: "\e926";
}
.codeicon-git:before {
  content: "\e927";
}
.codeicon-github:before {
  content: "\e928";
}
.codeicon-gitkraken:before {
  content: "\e929";
}
.codeicon-gitlab:before {
  content: "\e92a";
}
.codeicon-go:before {
  content: "\e92b";
}
.codeicon-gradle:before {
  content: "\e92c";
}
.codeicon-grunt:before {
  content: "\e92d";
}
.codeicon-grunt-line:before {
  content: "\e92e";
}
.codeicon-gulp:before {
  content: "\e92f";
}
.codeicon-heroku:before {
  content: "\e930";
}
.codeicon-html5:before {
  content: "\e931";
}
.codeicon-illustrator:before {
  content: "\e932";
}
.codeicon-in2com:before {
  content: "\e933";
}
.codeicon-indesign:before {
  content: "\e934";
}
.codeicon-inkscape:before {
  content: "\e935";
}
.codeicon-ionic:before {
  content: "\e936";
}
.codeicon-jasmine:before {
  content: "\e937";
}
.codeicon-java:before {
  content: "\e938";
}
.codeicon-javascript:before {
  content: "\e939";
}
.codeicon-jekyll:before {
  content: "\e93a";
}
.codeicon-jekyllsmall:before {
  content: "\e93b";
}
.codeicon-jenkins:before {
  content: "\e93c";
}
.codeicon-jetbrains:before {
  content: "\e93d";
}
.codeicon-jquery:before {
  content: "\e93e";
}
.codeicon-krakenjs:before {
  content: "\e93f";
}
.codeicon-laravel:before {
  content: "\e940";
}
.codeicon-less:before {
  content: "\e941";
}
.codeicon-linux:before {
  content: "\e942";
}
.codeicon-meteor:before {
  content: "\e943";
}
.codeicon-mongodb:before {
  content: "\e944";
}
.codeicon-mysql:before {
  content: "\e945";
}
.codeicon-nginx:before {
  content: "\e946";
}
.codeicon-nodejs:before {
  content: "\e947";
}
.codeicon-nodewebkit:before {
  content: "\e948";
}
.codeicon-npm:before {
  content: "\e949";
}
.codeicon-oracle:before {
  content: "\e94a";
}
.codeicon-perl:before {
  content: "\e94b";
}
.codeicon-photoshop:before {
  content: "\e94c";
}
.codeicon-php:before {
  content: "\e94d";
}
.codeicon-phpstorm:before {
  content: "\e94e";
}
.codeicon-postgresql:before {
  content: "\e94f";
}
.codeicon-premierepro:before {
  content: "\e950";
}
.codeicon-python:before {
  content: "\e951";
}
.codeicon-rails:before {
  content: "\e952";
}
.codeicon-raspberry:before {
  content: "\e953";
}
.codeicon-react:before {
  content: "\e954";
}
.codeicon-redhat:before {
  content: "\e955";
}
.codeicon-ruby:before {
  content: "\e956";
}
.codeicon-sass:before {
  content: "\e957";
}
.codeicon-sequelize:before {
  content: "\e958";
}
.codeicon-slimphp:before {
  content: "\e959";
}
.codeicon-sourcetree:before {
  content: "\e95a";
}
.codeicon-ssh:before {
  content: "\e95b";
}
.codeicon-stackoverflow:before {
  content: "\e95c";
}
.codeicon-sublime:before {
  content: "\e95d";
}
.codeicon-swift:before {
  content: "\e95e";
}
.codeicon-symfony:before {
  content: "\e95f";
}
.codeicon-terminal:before {
  content: "\e960";
}
.codeicon-trello:before {
  content: "\e961";
}
.codeicon-twig:before {
  content: "\e962";
}
.codeicon-typescript:before {
  content: "\e963";
}
.codeicon-ubuntu:before {
  content: "\e964";
}
.codeicon-vim:before {
  content: "\e965";
}
.codeicon-w3c:before {
  content: "\e966";
}
.codeicon-wordpress:before {
  content: "\e967";
}
.codeicon-yaml:before {
  content: "\e968";
}
.codeicon-yii:before {
  content: "\e969";
}
.codeicon-zend:before {
  content: "\e96a";
}

